In [9]:

import sys
sys.path.insert(0, "../scripts/")
import seaborn as sns

In [10]:
from general import assign_trip_duration

In [3]:
df = sns.load_dataset("taxis")

In [11]:
df.pipe(assign_trip_duration)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,trip_duration
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,0 days 00:06:15
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,0 days 00:07:05
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,0 days 00:07:24
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,0 days 00:25:52
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,0 days 00:09:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,0 days 00:03:34
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,0 days 00:56:23
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,0 days 00:19:07
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,0 days 00:05:04
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,0 days 00:16:40

In [29]:
df['pickup'].dt.year.max()

2019

In [34]:
df['dropoff'].dt.day.subtract(df['pickup'].dt.day)

1

In [38]:
df[['fare', 'tip', 'tolls']].sum(axis=1)

0        9.15
1        5.00
2        9.86
3       33.15
4       10.10
        ...
6428     5.56
6429    58.00
6430    16.00
6431     6.00
6432    18.36
Length: 6433, dtype: float64

In [14]:
df.dtypes

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                      object
payment                    object
pickup_zone                object
dropoff_zone               object
pickup_borough             object
dropoff_borough            object
dtype: object

In [4]:
# Get year and month from pickup_datetime. New columns: year, month
# Was trip a multi year trip? New column: is_multi_year
# Was trip a multi month trip? New column: is_multi_month
# Was trip a multi day trip? New column: is_multi_day
# Combining pickup zone and borough? New column: pickup_zone_borough
# Was person picked up and dropped off in the same zone/borough? New column: is_same_zone_borough
# What colors were tipped the most? Result: Series(color, tip)
# Extract PM and AM from pickup_datetime. New columns: time_of_day
# What duration of trip was PM and AM? Result: Series(time_of_day, duration)
# What was the average tip for each borough? Result: Series(borough, tip)
# What was the average tip for each zone? Result: Series(zone, tip)
# What was the average tip for each borough and zone? Result: Series(borough_zone, tip)
# What columns are categorical? Result: change dtype to category to selecter columns
# What was duration of trip. New column: trip_duration
# Is there correlation between payment and color. Result: Series(color, payment). Run correlation method
# Better names for columns. Result: rename columns

# Check fare, tip, toll and total amount, mismatch? Result: create new column: total_amount_calc and compare with total_amount

# What was the average tip for each borough and zone? Result: Series(borough_zone, tip)
# Split tips to 3 groups: low, medium, high. Each group is 1/3 of total tips. New column: tip_group
# Extract rgb from color. New columns: color_r, color_g, color_b
# Reshape, so that each line would be an event (trip). New columns: event_time, event_type (start, end),

In [ ]:
# Add GIS data